<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{OVOV:$OVOATITLE/}版权信息声明</title>
<style type="text/css">
<!--
body {
  border:0;
  overflow:	hidden;
  margin: 0;
  font:	MessageBox;
  background-color:#FFF;
}
td {  
font-size: 12px; 
line-height: 18px;
font:	MessageBox;
}
-->
</style>
</head>
<body oncontextmenu="return false">
<table border="0" cellspacing="5" cellpadding="4" width="95%" align="center">
<tr>
    <td> <fieldset style="padding-bottom:5px"><legend>关于{OVOV:$OVOATITLE/}</legend>
      <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
        <tr> 
          <td align="right"><font color="#0000FF">版本：V7.0 Beta</font></td>
        </tr>
        <tr> 
          <td width="100%">Copyright &copy; 2011-2014 <?php echo $web_name; ?> All Rights Reserved .<br>
            <br><br>
            系统开发：<a href="http://www.ovov.cn" target="_blank"><font color="#FF0000">北京欧维时代网络技术有限公司</font></a><br>
            Email：kefu@ovov.cn  QQ:<a href="tencent://message/?uin=9520555&Site=www.ovoa.net&Menu=yes">9520555 </a><br>
            Web：<a href="http://www.ovov.cn" target="_blank">http://www.ovov.cn</a><br>
          </td>
        </tr>
        
      </table>
 </fieldset>
 </td>
</tr>
<tr> <td align="right" valign="top"><input type="button" class="buttons" value=" 确定 " onClick="window.close()"></td>
</tr>
</table>
</body>
</html>