<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{OVOV:$OVOATITLE/}</title>
<!--[if IE 6]>
<script src="common/js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.nav,.indexul div img,.nav ul a:hover,.nav ul a.click,.nav div,.a6');
</script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="common/skin/{OVOV:$skinnum/}/css/style.css" />
<script type="text/javascript" src="common/js/jquery.js"></script>
<script type="text/javascript" src="common/skin/{OVOV:$skinnum/}/js/js.js"></script>
<script type="text/javascript" src="common/js/artDialog.js?skin=blue"></script>
<script type="text/javascript" src="common/js/iframeTools.js"></script>
<script type="text/javascript" src="common/js/ovcommon.js"></script>
<script type="text/javascript" src="common/js/jquery.form.js"></script>
<!--引入jquery-->
<script type="text/javascript" src="common/js/jquery-2.0.3.min.js"></script>
</head>
