{OVOV:include file="ovov_sys/ovoa_header.html"/}
<script language="javascript" type="text/javascript">
	function listBgOver(obj){
		obj.style.background="#E8F4FF";
	}
	function listBgOut(obj){
		obj.style.background="#FFFFFF";
	}
</script>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">  
<div class="main">
  <div class="main_title"> <strong>修改链接</strong><span></span>
    <p></p>
  </div>
  <div class="main_content">
  <!--文章管理b-->
  <div class="contents" style="display:block">
    <div><form  action="link.php?action=do_edit&site_id={OVOV:$site.site_id/}"  name="article_add_form" id="article_add_form" method="post" enctype="multipart/form-data">
        <table width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
          <!--<tr style="background:url(common/skin/1/images/table_title.gif) repeat-x;">
            <td align="center" colspan="2" height="32">&nbsp;修改文章&nbsp;&nbsp;</td>
          </tr>-->
 			<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
		   <td height="32" align="center" width="11%">网站名称：</td>
            <td align="left"   colspan="2">&nbsp;
            <input type="text" name="site_name2" id="site_name"  value="{OVOV:$site.site_name/}"  class="u_input320" size="30" value="" />&nbsp;<span class="xspan">*必填</span></td>
			</tr>
			<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
			<td height="32" align="center" width="11%">网站地址：</td>
			<td align="left"  colspan="2">&nbsp;
			  <input type="text" name="site_url2" id="site_url"  value="{OVOV:$site.site_url/}"  class="u_input320"  size="30" value="http://" />&nbsp;<span class="xspan">*必填</span></td>
			</tr>
			<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
			  <td height="32" align="center" width="11%">网站Logo：</td>
			  <td align="left" width="25%" >&nbsp;
		      <input type="text" name="site_logo2" readonly id="site_logo2"  value="{OVOV:$site.site_logo/}"  class="u_input320"  size="30" value="" />	<td width="64%" align="left" > &nbsp;<iframe name="file_upload" src="upload.php?action=new_ovoafile&isReturn=true&dizhi=site_logo2&rstform=article_add_form" scrolling="no" frameborder="0" id="upload_file_iframe" style="height:32px; padding-top:0px;"></iframe></td><td width="0%"></td>
		    </tr>
            <!----------------------顶级健康品牌对应的内容开始-------------------->
            <!----------------------顶级健康品牌对应的内容结束-------------------->
			<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">   
			  <td height="32" align="center" width="11%">&nbsp;</td>       
			  <td align="left" colspan="2">&nbsp;<INPUT class="but_add" type=submit value=" " name="article_add" id="article_add"></td>
		    </tr>
		  </table>
		  </form>
	  </div>
  </div>
   <!--文章管理e-->
</div>
</div>
</body>
</html>