{OVOV:include file="ovov_sys/ovoa_header.html"/}
<script language="javascript" type="text/javascript" src="common/rili/WdatePicker.js"></script> 
<script language="javascript" type="text/javascript">
function del_Channel(id){
	if(confirm('确定删除此分类？')){
		location.href = 'ovov_abdata.php?action=Ovov_Channel_Del&id='+id;
	}
}
function checkAll(){
	for (var p=0;p<document.forms[1].elements.length;p++){
		var m = document.forms[1].elements[p];
			if (m.checked==false){
				m.checked = true;
			}
			else{
				m.checked = false;
			}
	}
}
function delAll(){
	var string = "";
	for (var i = 0 ; i<document.forms[1].elements.length ; i++){
		if(document.forms[1].elements[i].checked !=""){
			if(i<(document.forms[1].elements.length)){
				string = string + document.forms[1].elements[i].value+",";
			}else{
				string = string + document.forms[1].elements[i].value;
			}
		}
	}
	if(string == ""){
					art.dialog({
                    time: 2,
                    lock: true,
                    icon: 'error',
                    content: '请选择内容'
               		});
	}else{
		//alert(string);
		if(confirm('确定删除这些用户？')){location.href="user.php?action=do_del&id="+string;}
	}
	
}
	function listBgOver(obj){
		obj.style.background="#E8F4FF";
	}
	function listBgOut(obj){
		obj.style.background="#FFFFFF";
	}
	
	jQuery(function($) {
			//频道栏目添加提交B
			$("#channel_add_submit").click(function() {
				if($("#channel_name").val()=='') {
					art.dialog({
                    time: 2,
                    lock: true,
                    icon: 'error',
                    content: '子分类名称不能为空!'
               		});
					$("#channel_name").focus();
					return false;
				}
				
				//子分类英文名是否为空
//				if($("#channel_ename").val()==''){
//					$("#channel_ename").focus();
//					$("#channel_ename").addClass("s_sear_red");
//					art.dialog({
//                    time: 2,
//                    lock: true,
//                    icon: 'error',
//                    content: '子分类英文名不能为空!'
//               		});
//					return false;
//				}
				//子分类链接是否为空
				if($("#channel_urlname").val()==''){
					$("#channel_urlname").focus();
					$("#channel_urlname").addClass("s_sear_red");
					art.dialog({
                    time: 2,
                    lock: true,
                    icon: 'error',
                    content: '子分类链接不能为空!'
               		});
					return false;
				}


				//子分类内容是否为空
				if($("#intro_meo").val()==''){
					$("#intro_meo").focus();
					$("#intro_meo").attr("style","border:#F00 solid 1px;");
					art.dialog({
                    time: 2,
                    lock: true,
                    icon: 'error',
                    content: '子分类简介信息不能为空!'
               		});

					return false;
				}
			});
			//频道栏目添加提交e
			//部门添加添加提交b
			$("#Department_New_submit").click(function() {
				if($("#de_name").val()=='') {
					$("#de_name").addClass("s_sear_red");
					art.dialog({
                    time: 2,
                    lock: true,
                    icon: 'error',
                    content: '添加部门名称不能为空!'
               		});
					$("#de_name").focus();
					return false;
				}
			});
		//部门添加提交e
		//提交权限内容b
		$("#Quanxian_New_submit").click(function() {
				if($("#qx_name").val()=='') {
					$("#qx_name").addClass("s_sear_red");
					art.dialog({
                    time: 2,
                    lock: true,
                    icon: 'error',
                    content: '添加权限名称不能为空!'
               		});
					$("#qx_name").focus();
					return false;
				}
			});
		//提交权限内容e
		});
</script> 
<body>
<div class="main">
  <div class="main_title"><strong>基础分类</strong></div>
  <div class="main_content">
  <!--选项卡B-->
    <div class="sub_title">
      <ul>
        <li {OVOV:if $claid eq 11/}class="tab_on"{OVOV:/if/}><a href="ovov_abdata.php?action=Ovov_Channel_Add&claid=11&jibie=1"><span>分类添加</span></a></li>
        <li {OVOV:if $claid eq 0/}class="tab_on"{OVOV:/if/}><a href="ovov_abdata.php?action=Ovov_DataABC"><span>基础分类</span></a></li>
      </ul>
      <div class="search">
        <form action="ovov_abdata.php?action=ovoa_chaxun&claid={OVOV:$claid/}" method="post" id="chaxun" name="chaxun" >
          <p>
            <input name="ovoa_sqlname" id="ovoa_sqlname"  type="text" value="{OVOV:$ovoa_sqlname/}" />
          </p>
          <span>
          <INPUT class="but_sql" type=submit value=" " name="ovoa_sql_submit" id="ovoa_sql_submit">
          </span>
        </form>
      </div>
    </div>
	<!--选项卡E-->
    <!--分类管理b-->
    <div class="contents" {OVOV:if $claid eq 0/}style="display:block"{OVOV:/if/}>
      <form name="usernamelist">
        <div><a href="ovov_abdata.php?action=Ovov_Channel_Add&claid=11&jibie=1" class="s"><img src="common/skin/1/images/add.gif" /></a></div>
        <div>
          <table width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
            <tr style="background:url(common/skin/1/images/table_title.gif) repeat-x;">
              <td height="32" align="center">ID号</td>
              <td align="center">分类名称</td>
              <td align="center">分类链接</td>
              <td align="center">排序数字</td>
              <td align="center">分类级别</td>
              <td align="center">操作</td>
            </tr>
            {OVOV:section name=d loop=$channeld /}
            <tr bgcolor="#E8F4F4" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);" >
              <td align="center" height="33">{OVOV:$channeld[d].channel_id/}</td>
              <td style="padding-left:10px; text-align:left"><img src="common/images/jiakk.png" /> <a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channeld[d].channel_id/}&kid={OVOV:$kid/}&jibie=1">{OVOV:$channeld[d].channel_name/}</a>&nbsp;<a href="ovov_abdata.php?action=Ovov_Channel_Add&claid=11&id={OVOV:$channeld[d].channel_id/}&kid={OVOV:$kid/}&jibie=2"><font color="#FF0000">[添加子类]</font></a></td>
              <td style="padding-left:10px; text-align:left">{OVOV:$channeld[d].channel_urlname/}</td>
              <td align="center">{OVOV:$channeld[d].channel_order/}</td>
              <td align="center">{OVOV:$channeld[d].jibie/}级</td>
              <td align="center"><a href="ovov_abdata.php?action=Ovov_Channel_Paixu&claid=13&id={OVOV:$channeld[d].channel_id/}&oid={OVOV:$channeld[d].channel_order/}">排序</a>&nbsp;&nbsp;&nbsp;<a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channeld[d].channel_id/}&kid={OVOV:$kid/}&jibie=1">修改</a>&nbsp;&nbsp;&nbsp;<a onClick="del_Channel('{OVOV:$channeld[d].channel_id/}')" href="#">删除</a></td>
            </tr>
            <!--<table id="g_{OVOV:$smarty.section.d.index+1/}" width="100%" border="0" cellspacing="0" cellpadding="0" style="display:none;">--> 
            {OVOV:section name=x loop=$channelx/}
            {OVOV:if $channelx[x].channel_root_id == $channeld[d].channel_id/}
            <tr onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);" bgcolor="#FFFFFF" >
              <td align="center" height="33">{OVOV:$channelx[x].channel_id/}</td>
              <td style="padding-left:10px; text-align:left"><font style="padding-left:10px;">|--<a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channelx[x].channel_id/}&kid={OVOV:$kid/}&jibie=2">{OVOV:$channelx[x].channel_name/}</a></font>&nbsp;<a href="ovov_abdata.php?action=Ovov_Channel_Add&claid=11&id={OVOV:$channelx[x].channel_id/}&kid={OVOV:$kid/}&jibie=3"><font color="#FF0000">[添加子类]</font></a></td>
              <td style="padding-left:10px; text-align:left">{OVOV:$channelx[x].channel_urlname/}</td>
              <td align="center">{OVOV:$channelx[x].channel_order/}</td>
              <td align="center">{OVOV:$channelx[x].jibie/}级</td>
              <td align="center"><a href="ovov_abdata.php?action=Ovov_Channel_Paixu&claid=13&id={OVOV:$channelx[x].channel_id/}&oid={OVOV:$channelx[x].channel_order/}">排序</a>&nbsp;&nbsp;&nbsp;<a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channelx[x].channel_id/}&kid={OVOV:$kid/}&jibie=2">修改</a>&nbsp;&nbsp;&nbsp;<a onClick="del_Channel('{OVOV:$channelx[x].channel_id/}')" href="#">删除</a></td>
            </tr>
            {OVOV:section name=xx loop=$channelxx/}
            {OVOV:if $channelxx[xx].channel_root_id == $channelx[x].channel_id/}
            <tr onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);" bgcolor="#FFFFFF">
              <td align="center" height="33">{OVOV:$channelxx[xx].channel_id/}</td>
              <td style="text-align:left"><font style="padding-left:40px;" >|--<a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channelxx[xx].channel_id/}&jibie=3">{OVOV:$channelxx[xx].channel_name/}</a></font>&nbsp;<a href="ovov_abdata.php?action=Ovov_Channel_Add&claid=11&id={OVOV:$channelxx[xx].channel_id/}&kid={OVOV:$kid/}&jibie=4"><font color="#FF0000">[添加子类]</font></a></td>
              <td style="padding-left:10px; text-align:left">{OVOV:$channelxx[xx].channel_urlname/}</td>
              <td align="center">{OVOV:$channelxx[xx].channel_order/}</td>
              <td align="center">{OVOV:$channelxx[xx].jibie/}级</td>
              <td align="center"><a href="ovov_abdata.php?action=Ovov_Channel_Paixu&claid=13&id={OVOV:$channelxx[xx].channel_id/}&oid={OVOV:$channelxx[xx].channel_order/}">排序</a>&nbsp;&nbsp;&nbsp;<a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channelxx[xx].channel_id/}&jibie=3">修改</a>&nbsp;&nbsp;&nbsp;<a onClick="del_Channel('{OVOV:$channelxx[xx].channel_id/}')" href="#">删除</a></td>
            </tr>
            {OVOV:section name=xxx loop=$channelxxx/}
            {OVOV:if $channelxxx[xxx].channel_root_id == $channelxx[xx].channel_id/}
            <tr onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);" bgcolor="#FFFFFF">
              <td align="center" height="33">{OVOV:$channelxxx[xxx].channel_id/}</td>
              <td style="text-align:left"><font style="padding-left:80px;">|--<a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channelxxx[xxx].channel_id/}&jibie=4">{OVOV:$channelxxx[xxx].channel_name/}</a></font></td>
              <td style="padding-left:10px; text-align:left">{OVOV:$channelxxx[xxx].channel_urlname/}</td>
              <td align="center">{OVOV:$channelxxx[xxx].channel_order/}</td>
              <td align="center">{OVOV:$channelxxx[xxx].jibie/}级</td>
              <td align="center"><a href="ovov_abdata.php?action=Ovov_Channel_Paixu&claid=13&id={OVOV:$channelxxx[xxx].channel_id/}&oid={OVOV:$channelxxx[xxx].channel_order/}">排序</a>&nbsp;&nbsp;&nbsp;<a href="ovov_abdata.php?action=Ovov_Channel_Edit&claid=12&id={OVOV:$channelxxx[xxx].channel_id/}&jibie=4">修改</a>&nbsp;&nbsp;&nbsp;<a onClick="del('{OVOV:$channelxxx[xxx].channel_id/}')" href="#">删除</a></td>
            </tr>
            {OVOV:/if/}
            {OVOV:/section/}
            {OVOV:/if/}
            {OVOV:/section/}
            {OVOV:/if/}
            {OVOV:/section/}
            {OVOV:/section/}
          </table>
        </div>
      </form>
    </div>
    <!--分类管理e--> 
    <!--栏目添加b-->
    <div class="contents" {OVOV:if $claid eq 11/}style="display:block"{OVOV:/if/}>
      <div>
        <form action="ovov_abdata.php?action=Do_Ovov_Channel" method="post" name="rstform_lm" id="rstform_lm" enctype="multipart/form-data">
          <table width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;所属大分类：</td>
              <td align="left" width="90%" >&nbsp;<SELECT id="channel_root_id" name="channel_root_id">
                  <OPTION selected value=0>顶级分类</OPTION>{OVOV:foreach from=$channel item=channel/}
                  <OPTION value={OVOV:$channel.channel_id/} {OVOV:if $channel_top_id eq $channel.channel_id/} selected {OVOV:/if/}>{OVOV:$channel.channel_name/}</OPTION>
            {OVOV:/foreach/}</SELECT>
                &nbsp;<span class="xspan">*所属大分类</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;子分类名称：</td> <INPUT class=text type=hidden name="jibie" id="jibie" value="{OVOV:$jibie/}">
              <td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type=text name="channel_name" id="channel_name">
                &nbsp;<span class="xspan">*子分类名称</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;别名：</td>
              <td align="left" width="90%" >&nbsp;{OVOV:$web_url/}<INPUT class="s_sear" type=text name="channel_alias" id="channel_alias">&nbsp;<span class="xspan">*参数只能为字母，数字</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;传值参数名：</td>
              <td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type=text name="channel_ename" id="channel_ename">&nbsp;<span class="xspan"></span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;子分类链接：</td>
              <td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type=text name="channel_urlname" id="channel_urlname" value="{OVOV:$channel.channel_urlname/}">&nbsp;<span class="xspan">*
                <input type="checkbox" name="qingyong" id="qingyong"  value="1" {OVOV:if $xg_set_channel.channel_urlok/} checked{OVOV:/if/}>
                是否启用转向链接</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;分类排序ID：</td>
              <td align="left" width="90%" >&nbsp;<INPUT class="u_input80"  type=text name="channel_order" id="channel_order" value="{OVOV:$num/}"> &nbsp;<span class="xspan">*按数字大小顺序排序</span>&nbsp;<input type="checkbox" name="channel_istop" id="channel_istop"  value="1" > 在顶部导航显示 <input type="checkbox" name="isdesk" id="isdesk"  value="1">  在底部导航显示</td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;列表显示：</td>
              <td align="left" width="90%" >&nbsp;&nbsp;<input type="checkbox" name="isliebiao" id="channel_type" value="1" >   <span class="xspan">*勾选 列表显示</span></td>
            </tr>
            
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;APP显示图标：</td>
              <td align="left" width="90%" >
              	<table>
				<tr>
					<td>&nbsp;
						<INPUT type=text name="channel_ico" id="channel_ico" class="u_input320" value="" >
					</td>
                    <td>
                    	<iframe name="file_upload" src="upload.php?action=new_ovoafile&isReturn=true&dizhi=channel_ico&rstform=rstform_lm" scrolling="no" frameborder="0" id="upload_file_iframe" style="height:28px; padding-top:0px;"></iframe>
                    </td>
				</tr>
                </table>
              </td>
            </tr>
            
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;子分类简介：</td>
              <td align="left" width="90%" >&nbsp;<textarea class="textarea" name="intro_meo"  id="intro_meo"></textarea>
                &nbsp;<span class="xspan">*子分类简介</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;</td>
              <td align="left" width="90%" colspan="2">&nbsp;
                <INPUT class="but_add" type=submit value=" " name="channel_add_submit" id="channel_add_submit"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <!--栏目添加e--> 
    <!--栏目修改b-->
    <div class="contents" {OVOV:if $claid eq 12/}style="display:block"{OVOV:/if/}>
      <div>
        <form action="ovov_abdata.php?action=Do_Ovov_Channel_Edit&Channel_xg_id={OVOV:$Channel_xgid/}" method="post" name="rstform_lmxg" id="rstform_lmxg" enctype="multipart/form-data">
          <table width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;所属大分类：</td>
              <td align="left" width="90%" >&nbsp;<SELECT id="channel_root_id" name="channel_root_id"><OPTION selected value=0>顶级分类</OPTION>{OVOV:section name=d loop=$xg_channel/}<OPTION value={OVOV:$xg_channel[d].channel_id/} {OVOV:if $xg_channel[d].channel_id eq $xg_set_channel.channel_root_id/} selected {OVOV:/if/}>{OVOV:$xg_channel[d].channel_name/}</OPTION>
             {OVOV:section name=x loop=$xg_channel2/}{OVOV:if $xg_channel2[x].channel_root_id == $xg_channel[d].channel_id/} <OPTION value={OVOV:$xg_channel2[x].channel_id/} {OVOV:if $xg_channel2[x].channel_id eq $xg_set_channel.channel_root_id/} selected {OVOV:/if/}>&nbsp;&nbsp;&nbsp;&nbsp;|--{OVOV:$xg_channel2[x].channel_name/}</OPTION>
                 {OVOV:section name=xx loop=$xg_channel3/}{OVOV:if $xg_channel3[xx].channel_root_id == $xg_channel2[x].channel_id/}<OPTION value={OVOV:$xg_channel3[xx].channel_id/} {OVOV:if $xg_channel3[xx].channel_id eq $xg_set_channel.channel_root_id/} selected {OVOV:/if/}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|--{OVOV:$xg_channel3[xx].channel_name/}</OPTION>
                  {OVOV:/if/} {OVOV:/section/} {OVOV:/if/}{OVOV:/section/}{OVOV:/section/} </SELECT>
                &nbsp;<span class="xspan">*所属大分类</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;子分类名称：</td>
             <INPUT class=text type=hidden name="channel_kid" id="channel_kid" value="{OVOV:$channel_kid/}">
       		 <INPUT class=text type=hidden name="jibie" id="jibie" value="{OVOV:$jibie/}">
              <td align="left" width="90%" >&nbsp;<INPUT class="s_sear" type=text name="channel_name" id="channel_name" value="{OVOV:$xg_set_channel.channel_name/}">
                &nbsp;<span class="xspan">*子分类名称</span></td>
            </tr>
             <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;别名：</td>
              <td align="left" width="90%" >&nbsp;http://localhost/dianhong/ <INPUT class="s_sear" type=text name="channel_alias" id="channel_alias" value="{OVOV:$xg_set_channel.channel_alias/}">
                &nbsp;<span class="xspan">*参数只能为字母，数字</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;传值参数名：</td>
              <td align="left" width="90%" >&nbsp;<INPUT class="s_sear" type=text name="channel_ename" id="channel_ename" value="{OVOV:$xg_set_channel.channel_ename/}">
                &nbsp;<span class="xspan">*参数只能为字母，数字，下划线</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;子分类链接：</td>
              <td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type=text name="channel_urlname" id="channel_urlname" value="{OVOV:$xg_set_channel.channel_urlname/}">
                &nbsp;<span class="xspan">*
                <input type="checkbox" name="qingyong" id="qingyong"  value="1" {OVOV:if $xg_set_channel.channel_urlok/} checked{OVOV:/if/}>
                是否启用转向链接</span></td>
            </tr><!--
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;子分类模板：</td>
              <td align="left" width="90%" >&nbsp;
                <INPUT class="u_input320" type=text name="mbname" id="mbname" value="{OVOV:$xg_set_channel.mbname/}">
                &nbsp;<span class="xspan">*子分类模板</span></td>
            </tr>-->
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;分类排序ID：</td>
              <td align="left" width="90%" >&nbsp;<INPUT class="u_input80"  type=text name="channel_order" id="channel_order" value="{OVOV:$xg_set_channel.channel_order/}">&nbsp;<span class="xspan">*按数字大小顺序排序</span>&nbsp;<input type="checkbox" name="channel_istop" id="channel_istop"  value="1" {OVOV:if $xg_set_channel.channel_istop/} checked{OVOV:/if/}> 在顶部导航显示 <input type="checkbox" name="isdesk" id="isdesk"  value="1" {OVOV:if $xg_set_channel.isdesk/} checked{OVOV:/if/}> 在底部导航显示</td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;列表显示：</td>
              <td align="left" width="90%" >&nbsp;&nbsp;<input type="checkbox" name="isliebiao" {OVOV:if $xg_set_channel.channel_type/} checked{OVOV:/if/} id="channel_type"  value="1" >   <span class="xspan">*勾选 列表显示</span></td>
            </tr>
            
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;APP显示图标：</td>
              <td align="left" width="90%" >
              	<table>
				<tr>
					<td>&nbsp;
						<INPUT type=text name="channel_ico" id="channel_ico2" class="u_input320" value="{OVOV:$xg_set_channel.channel_ico/}" >
					</td>
                    <td>
                    	<iframe name="file_upload" src="upload.php?action=new_ovoafile&isReturn=true&dizhi=channel_ico2&rstform=rstform_lmxg" scrolling="no" frameborder="0" id="upload_file_iframe" style="height:28px; padding-top:0px;"></iframe>
                    </td>
				</tr>
                </table>
              </td>
            </tr>
            
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;隐藏分类：</td>
              <td align="left" width="90%" >&nbsp;&nbsp;<input type="checkbox" name="show" {OVOV:if $xg_set_channel.isshow/} checked{OVOV:/if/} id="channel_type"  value="1" >   <span class="xspan">*勾选 隐藏</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;推荐至首页：</td>
              <td align="left" width="90%" >&nbsp;&nbsp;<input type="checkbox" name="is_recommend" {OVOV:if $xg_set_channel.is_recommend/} checked{OVOV:/if/} id="is_recommend" value="1" >   <span class="xspan">*勾选 推荐到首页</span></td>
            </tr>
            <!--
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;数据统计参数：</td>
              <td align="left" width="90%" >&nbsp;
                <INPUT class="u_input600"  type=text name="tjchar" id="tjchar" value="{OVOV:$xg_set_channel.tjchar/}">
                &nbsp;<span class="xspan">*（表名，主键名，条件语句）</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;工作台图标：</td>
              <td align="left" width="90%" ><table>
                  <tr>
                    <td>&nbsp;
                      <INPUT type=text name="channel_ico" id="channel_ico" class="u_input320" value="{OVOV:$xg_set_channel.channel_ico/}" ></td>
                    <td><iframe name="file_upload" src="upload.php?action=new_ovoafile&isReturn=true&dizhi=channel_ico&rstform=rstform_lmxg" scrolling="no" frameborder="0" id="upload_file_iframe" style="height:28px; padding-top:0px;"></iframe></td>
                  </tr>
                </table></td>
            </tr>-->
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;子分类简介：</td>
              <td align="left" width="90%" >&nbsp;<textarea class="textarea" name="intro_meo"  id="intro_meo">{OVOV:$xg_set_channel.intro_meo/}</textarea>
                &nbsp;<span class="xspan">*子分类简介</span></td>
            </tr>
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;</td>
              <td align="left" width="90%" colspan="2">&nbsp;
                <INPUT class="but_modfy" type=submit value=" " name="channel_add_submit" id="channel_add_submit"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <!--栏目修改e--> 
    <!--栏目排序b--> 
     <div class="contents" {OVOV:if $claid eq 13/}style="display:block"{OVOV:/if/}>
      <div>
        <form action="ovov_abdata.php?action=Ovov_Channel_Paixu_Do&pxid={OVOV:$Ovov_Channel_Paixu_id/}" method="post" name="rstform_paxu" id="rstform_paxu" enctype="multipart/form-data">
          <table width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
            <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;排序数字：</td>
              <td align="left" width="90%" >&nbsp;<INPUT name="neworder"  type=text class="u_input80" id="neworder" value="{OVOV:$oid/}" size="4"> &nbsp;<span class="xspan">*按数字顺序排序</span></td>
            </tr>
              <tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
              <td height="32" align="center" width="10%">&nbsp;</td>
              <td align="left" width="90%" colspan="2">&nbsp;
                <INPUT class="but_modfy" type=submit value=" " name="channel_paixu_submit" id="channel_paixu_submit"></td>
            </tr>
		</table></form>
        </div></div>
    <!--栏目排序e--> 
  </div>
</div>
</body>
</html>