{OVOV:include file="ovov_sys/ovoa_header.html"/}
<script>
function listBgOver(obj){
	obj.style.background="#E8F4FF";
}
function listBgOut(obj){
	obj.style.background="#FFFFFF";
}
</script>
<body>
<div class="main">
	<div class="main_title">
		<strong>联系方式</strong><strong>修改</strong>
	</div>
	<div class="main_content">
		<div class="contents" style="display:block">
			<form action="contact.php?action=do_edit&id={OVOV:$res.c_id/}" method="post" enctype="multipart/form-data" name="article_add_form">
        		<table width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
		
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);"   class="article_sign">          
						<td height="32" align="center" width="10%">&nbsp;公司名称(中文)：</td>
						<td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[company_ch]" value="{OVOV:$res.company_ch/}"/></td>
					</tr>

					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);"   class="article_sign">          
						<td height="32" align="center" width="10%">&nbsp;公司名称(英文)：</td>
						<td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[company_en]" value="{OVOV:$res.company_en/}"/></td>
					</tr>

					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);"   class="article_sign">          
						<td height="32" align="center" width="10%">&nbsp;地址（中文）：</td>
						<td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[addr_ch]" value="{OVOV:$res.addr_ch/}"/></td>
					</tr>
			
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);"   class="article_sign">          
						<td height="32" align="center" width="10%">&nbsp;地址（英文）：</td>
						<td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[addr_en]" value="{OVOV:$res.addr_en/}"/></td>
					</tr>

		 			<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
						<td height="32" align="center" width="10%">&nbsp;咨询电话：</td>
			            <td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[telephone]" value="{OVOV:$res.telephone/}"/></td>
					</tr>
			
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
						<td height="32" align="center" width="10%">&nbsp;传真：</td>
						<td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[fax]" value="{OVOV:$res.fax/}"/></td>
					</tr>

					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);" class="skip_link">
					  <td height="32" align="center" width="10%">&nbsp;电子地图连接：</td>
					  <td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[map_url]" value="{OVOV:$res.map_url/}"/></td>
				    </tr>
			
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);" class="skip_link">
					  <td height="32" align="center" width="10%">&nbsp;显示顺序：</td>
					  <td align="left" width="90%" >&nbsp;<INPUT class="u_input320" type="text" name="data[paixu]" value="{OVOV:$res.paixu/}"/></td>
				    </tr>
					
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
					  <td height="32" align="center" width="10%" class='top_pic'>&nbsp;地图上传：</td>
					  <td align="left" width="90%" >
					  	<table>
					  		<tr>
					  			<td>
								  &nbsp;<INPUT type="text" id="img_add" name="data[map_pic]" class="u_input320"  value="{OVOV:$res.map_pic/}"/>
								</td>
								<td>
								  <iframe name="file_upload" src="upload.php?action=new_ovoafile&isReturn=true&dizhi=img_add&rstform=article_add_form" scrolling="no" frameborder="0" id="upload_file_iframe" style="height:32px; padding-left:0px;"></iframe>
								</td>
					  		</tr>
					  	</table>
					  </td>
				    </tr>
{OVOV:if $res.map_pic/}
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);" class="skip_link">
					  <td height="32" align="center" width="10%">&nbsp;地图缩略图：</td>
					  <td align="left" width="90%" ><image src="{OVOV:$ovovweb.web_url/}/{OVOV:$res.map_pic/}" style="margin:5px 0 5px 8px;height:260px;"/></td>
				    </tr>
{OVOV:/if/}
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">   
						<td height="32" align="center" width="10%">&nbsp;</td>       
						<td align="left" width="90%" colspan="2">&nbsp;<INPUT class="but_modfy" type="submit" value=" "  id="article_add"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
</body>
</html>