{OVOV:include file="ovov_sys/ovoa_header.html"/}
<script>
function listBgOver(obj){
	obj.style.background="#E8F4FF";
}
function listBgOut(obj){
	obj.style.background="#FFFFFF";
}
function ckadd(){
	//必填项判断
	if($("#cat_name").val()==''){
		art.dialog({content: "服务名称不能为空",time:2,lock: true,icon:"error"});
		$("#cat_name").focus();
		return false;
	}
	if($("#img_add").val()==''){
		art.dialog({content: "显示图标不能为空",time:2,lock: true,icon:"error"});
		$("#img_add").focus();
		return false;
	}
	if($("#hotline").val()==''){
		art.dialog({content: "热线电话不能为空",time:2,lock: true,icon:"error"});
		$("#hotline").focus();
		return false;
	}
}
</script>
<body>
<div class="main">

	<div class="main_title"><strong>会员管理</strong><span></span>
    	<p></p>
  	</div>
		
	<div class="main_content">
		<div class="sub_title">
		<ul>
			<li {OVOV:if $action eq 'manage'/}class="tab_on"{OVOV:/if/}>
				<a href="service.php?cid=69&action=service_manage">
					<span>热线管理</span>
				</a>
			</li>
	
			<li {OVOV:if $action eq 'add'/}class="tab_on"{OVOV:/if/}>
				<a href="service.php?cid=69&action=service_add">
					<span>热线添加</span>
				</a>
			</li>
		</ul>
	</div>
		
		<div class="contents" style="display:block">
			<form action="service.php?action=do_service_add" method="post" enctype="multipart/form-data" name="article_add_form">
        		<table width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
		
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);"   class="article_sign">          
						<td height="32" align="center" width="10%">&nbsp;服务名称：</td>
						<td align="left" width="90%" >
							&nbsp;<INPUT class="u_input320" type="text" name="service_name" id="cat_name" maxlength="8"/> <span class="xspan">*为显示美观，限制7个字</span>
						</td>
					</tr>
					
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
						<td height="32" align="center" width="10%">&nbsp;显示图标：</td>
			            <td align="left" width="90%" >
			              <table>
					  		<tr>
					  			<td>
								  &nbsp;<INPUT type="text" id="img_add" name="service_img" class="u_input320" readonly value="{OVOV:$article.index_flash/}" />
								</td>
								<td>
								  <iframe name="file_upload" src="upload.php?action=new_ovoafile&isReturn=true&dizhi=img_add&rstform=article_add_form" scrolling="no" frameborder="0" id="upload_file_iframe" style="height:32px; padding-left:0px;"></iframe>
								</td>
					  		</tr>
					  	  </table>
			            </td>
					</tr>
					
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">          
						<td height="32" align="center" width="10%">&nbsp;热线电话：</td>
			            <td align="left" width="90%" >
			            	&nbsp;<INPUT class="u_input320" type="text" name="service_tel" id="hotline" maxlength="25"/>
			            </td>
					</tr>
					
					<tr bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">   
						<td height="32" align="center" width="10%">&nbsp;</td>       
						<td align="left" width="90%" colspan="2">&nbsp;<INPUT class="but_add" onclick="return ckadd()" type="submit" value=" "  id="article_add"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
</body>
</html>