{OVOV:include file="ovov_sys/ovoa_header.html"/}
<body>
<div class="main">
 	<div id='db1' class="contents" style="display:block">
	<a class="s" onclick="ajax_chanel('position.php?action=city_add','新建','800px','320px')" href="javascript:void(0);">
		<img src="common/skin/1/images/add.gif">
	</a>
 	
    <form id="iform">
        <table id='table_id' align='center' width="100%" border="0" cellspacing="1" cellpadding="0" style="background:#d5dde0;" class="table_font">
          	<tr height="32" style="background:url(common/skin/1/images/table_title.gif) repeat-x;">
				<td width="50px" align="center">选择</td>
				<td width="50px" align="center">ID号</td>
				<td align="center">城市</td>
				<td align="center">首字母</td>
				<td align="center">创建时间</td>
				<td align="center" width="270px">操作</td>
            </tr>
{OVOV:if $res/}
{OVOV:foreach from=$res item=res/}
          	<tr height="32" bgcolor="#FFFFFF" align="center" onmouseout="listBgOut(this);" onmouseover="listBgOver(this);" {OVOV:if $res.is_show eq 0/}style="color:#cdcdcd";{OVOV:/if/}>
          		<td align="center"><input type="checkbox" value="{OVOV:$res.id/}" name="check_id"></td>
				<td align="center">{OVOV:$res.id/}</td>
				<td align="center">{OVOV:$res.name/}</td>
				<td align="center">{OVOV:$res.initial/}</td>
				<td align="center">{OVOV:$res.addtime/}</td>
				<td align="center">
{OVOV:if $res.is_show eq 1/}
					<a class="cz_btn" href="javascript:void(0);" onclick="ovajax_confirm('position.php','action=city_show&id={OVOV:$res.id/}','确认取消显示')">取消显示</a>
{OVOV:else/}
					<a class="cz_btn" href="javascript:void(0);" onclick="ovajax_confirm('position.php','action=city_show&id={OVOV:$res.id/}&up=1','确认显示')">显示</a>
{OVOV:/if/}	
					<a class="cz_btn" href="javascript:void(0);" onclick="ajax_chanel('position.php?action=city_edit&id={OVOV:$res.id/}','修改','800px','320px')">修改</a>
					<a class="cz_btn" href="javascript:void(0);" onclick="ovajax_confirm('position.php','action=city_del&id={OVOV:$res.id/}&up=1','确认删除')">删除</a>
				</td>
            </tr>
{OVOV:/foreach/}
			<tr height="32" bgcolor="#FFFFFF" align="center" onmouseout="listBgOut(this);" onmouseover="listBgOver(this);">
				<td colspan="11">
				<input class="button" type="button" value=" 全 选 " onclick="ov_checkAll('iform');" name="Submit"/>
				<input id="delall" class="button" type="button" value=" 删 除 选 中 " onclick="ov_delall('iform','position.php?action=city_delAll','gid=','确定要删除选中',0,2);"/>
				</td>
			</tr>
			<tr height="32" align="center" bgcolor="#FFFFFF" onMouseOver="listBgOver(this);" onMouseOut="listBgOut(this);">
			  <td colspan="13">{OVOV:$pagelist/}&nbsp;共{OVOV:$total/}记录{OVOV:$page_num/}页 当前第{OVOV:$page_now/}页
		  	</tr>
{OVOV:else/}
			<tr height="32" bgcolor="#FFFFFF" align="center" onmouseout="listBgOut(this);" onmouseover="listBgOver(this);">
			  <td height=32 align="center" colspan="13">暂无数据</td>
            </tr>
{OVOV:/if/}
		 </table>
	 </form>
  </div>
</div>
<script src="./common/rili/WdatePicker.js" type="text/javascript" language="javascript"></script>
<script>
$("#start_time,#end_time,#act_time").focus(function(){
	WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})
});
function open_img(img_path,id){
	var throughBox = art.dialog.through;
	throughBox({
		id:id,
		padding: 0,
	    title: '照片',
	    content: '<img src="'+img_path+'"/>',
	    //lock: true
	});
}
</script>
</body>
</html>